*{
    margin: 0;
    padding: 0;
}

.container{
    margin: 20px;
    display: flex;
    justify-content: center;
}

.row{
    display: flex;
    flex-direction: column;
}

.box{
    width: 35px;
    height: 35px;
    background-color: rgb(76, 5, 255);
}