*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    margin: 20px;
    display: flex;
    justify-content: center;
}

.row{
    display: flex;
    flex-direction: column;
}

.box{
    width: 35px;
    height: 35px;
}

button{
    border: 0;
    width: 10%;
    margin: 12px 0;
    padding: 12px 0;
    border-radius: 4px;
    background-color: royalblue;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.2s;
}

button:hover{
    scale: 1.02;
    cursor: pointer;
}